<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Choise Quiz</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/1325c2723b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="loginBox">
        <h1>ログイン</h1>
        <form action="/login" class="loginForm" method="post">
            <input type="text" class="name" placeholder="名前" name="name">
            <input type="password" class="pw" placeholder="パスワード" name="pw1">
            <p class="error"><%= error %></p>
            <button type="submit">ログイン</button>
        </form>
        <a href="" class="pwMessage">パスワードをお忘れですか？</a>
        <hr>
        <p>アカウントをお持ちでない場合はこちらから</p>
        <a href="signUp" class="SignUpMessage">お申込み</a>
    </div>
</body>
</html>